<h1>Hello world!</h1>

<h2>Tacos:</h2>

<% 
tacos = [
  "Carnitas", 
  "Barbacoa", 
  "Fish"
  ] 
%>

<p>
There are so many tacos: 
<%=tacos.length %>
</p>

<% tacos[0] %>

<ul>
<li>Carnitas</li>
<li>Barbacoa</li>
<li>Fish</li>
</ul>